{% extends 'app/base.html' %}
{% block friends_active %}active{% endblock %}
{% block body %}
{% load static %}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'app/friend.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/model.css' %}" />

<div class="albums-container container-fluid">


    <div class="row">
        <div class="col-sm-12"> 
            <h2>Welcome {{ user.username|capfirst }} ! </h2><br>

    </div>
        {% if users_p %}
            {% for user_p in users_p %}   
                            <div class="col-sm-7 col-lg-3">

                                <div class="card hovercard">
                                    <div class="cardheader">

                                    </div>
                                    <div class="avatar">
                                        <img id="{{user_p.0.id}}" alt="{{user_p.0.username}}" src="{{ user_p.1.profilePicture.url }}">
                                    </div>
                                    <div class="info">
                                        <div class="title">
                                            <a href="#">{{user_p.0.username}}</a>
                                        </div>
                                        <div class="desc">{{user_p.1.bio}}</div>
                                      
                                    </div>
                                    <div class="bottom">
                                        <a class="btn btn-success  btn-md" href="{% url 'app:add-friend' user_p.0.id %}">
                                           add friend
                                        </a>
    
                                    </div>
                                </div>

                    </div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                    </div>

                    <script>
                    // Get the modal
                    var modal = document.getElementById('myModal');

                    // Get the image and insert it inside the modal - use its "alt" text as a caption
                    var img = document.getElementById('{{user_p.0.id}}');
                    var modalImg = document.getElementById("img01");
                    var captionText = document.getElementById("caption");
                    img.onclick = function(){
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                    }

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() { 
                        modal.style.display = "none";
                    }
                    </script>
                  
                {% endfor %}    
        {% endif %}

{% endblock  %}