{% extends 'app/base.html' %}
{% block title %}{{ song.album }}{% endblock %}

{% block body %}
{% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'app/models.css' %}" />

    <div style="padding-left:27%;padding-right:27%;" class="container-fluid ">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
            
                </div>
                <div class="card-body contacts_body">
                    <ul class="contacts">
                    {% for i in Mfriends %}
                    <li> 
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="{{i.1.profilePicture.url}}" class="img-circle user_img">
                                <span class="online_icon"></span><a style="font-size:20px;color:white;" href="{% url 'app:msg_send' i.0.id %}"> {{i.0}} </a>
                            </div>
                                
                        </div>
                    </li>
                    {% endfor %}

                    </ul>
                </div>
                <div class="card-footer"></div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------->               
        </div>
    </div>
{% endblock %}